<!DOCTYPE html>

<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<script src="choose_skills.js"></script>
	
    <title>SKILLS</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap2.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer3.css' %}" rel="stylesheet">
	
	<!-- Only this page (skills) CSS -->
	<link href="{% static 'css/pageskills.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
		
	
</head>

<body id="page-top" class="index">

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage.html #page-top">IT SKILL MASTER</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- <li class="page-scroll">
                        <a href="login.html">登入 / 註冊</a>
                    </li>				
                    <li class="page-scroll">
                        <a href="#footer">About US</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


	<form id="skillForm">
		<div id="popularSkills">				
			<div id="warningwords">
				Skills you have :
			</div>
			<table id="skillsTable">
					<tr>
						<th><a href="javascript:k" id="net" name=".Net">.Net</a></th>
						<th><a href="javascript:k" id="ajax" name="AJAX">AJAX</a></th>
						<th><a href="javascript:k" id="android" name="Android">Android</a></th>
						<th><a href="javascript:k" id="app" name="App">App</a></th>
						<th><a href="javascript:k" id="asp" name="ASP.NET">ASP.NET</a></th>
					</tr>
					<tr>
						<th><a href="javascript:k" id="c" name="C">C</a></th>
						<th><a href="javascript:k" id="c#" name="C#">C#</a></th>
						<th><a href="javascript:k" id="cnet" name="C#.NET">C#.NET</a></th>
						<th><a href="javascript:k" id="c++" name="C++">C++</a></th>
						<th><a href="javascript:k" id="css" name="CSS">CSS</a></th>
					</tr>
					<tr>
						<th><a href="javascript:k" id="html" name="HTML">HTML</a></th>
						<th><a href="javascript:k" id="iOS" name="iOS">iOS</a></th>
						<th><a href="javascript:k" id="Java" name="Java">Java</a></th>
						<th><a href="javascript:k" id="JavaScript" name="JavaScript">JavaScript</a></th>
						<th><a href="javascript:k" id="jQuery" name="jQuery">jQuery</a></th>
					</tr>
					<tr>
						<th><a href="javascript:k" id="JSP" name="JSP">JSP</a></th>
						<th><a href="javascript:k" id="Linux" name="Linux">Linux</a></th>
						<th><a href="javascript:k" id="MySQL" name="MySQL">MySQL</a></th>
						<th><a href="javascript:k" id="Objective" name="Objective-C">Objective-C</a></th>
						<th><a href="javascript:k" id="PHP" name="PHP">PHP</a></th>						
					</tr>
					<tr>
						<th><a href="javascript:k" id="Python" name="Python">Python</a></th>
						<th><a href="javascript:k" id="Sql" name="Sql">Sql</a></th>
						<th><a href="javascript:k" id="Unix" name="Unix">Unix</a></th>
						<th><a href="javascript:k" id="Visual" name="Visual Basic">Visual Basic</a></th>
						<th><a href="javascript:k" id="XML" name="XML">XML</a></th>						
					</tr>
			</table>
		</div>
		<div id="selectedSkills">
			<!-- <table id="selectedTable">
				
			</table> -->
			<form></form>
			<form >
				<div id="selectedTable">
					<ul id="sortable">
					</ul>
				</div>
				<div id="aside">
				
					<!-- <input id="sub" type=submit value="OK"> -->
					<img src="{% static 'img/ok.png' %}" width="160" height="160" usemap="#ImageMap10">
					
					<map name="ImageMap10">
						<area shape="circle" coords="80,80,75" href="/homepage/jobRecommend">	
					</map>
				</div>
			</form>
		</div>
	</form>
	
	<!-- <div id="aside">
		<img src="img/submarine.png" width="300" height="300" usemap="#ImageMap10">
					
		<map name="ImageMap10">
			<area shape="circle" coords="150,150,150" href="skills.html">	
		</map>
	</div> -->
	
	
	<!-- Footer -->
    <footer class="text-center" id="footer">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>No. 300, Zhongda Rd., Zhongli District,<br> Taoyuan City 32001, Taiwan (R.O.C.)</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Teacher</h3>
                        <p>Mr.Kuo, Mr.Hsu</p>
						<!-- <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/iiichunglii/?fref=ts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Producer</h3>
                        <p>Jimmy Yang,  Jeff Chang, Jimmy Kuo,<br> Michelle Fu,  Tom Jao,  Kathy Lin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; IT Skill Master 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>


	<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<!-- Only this page (skills) JavaScript -->
	<script src="{% static 'js/pageskills.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>	

</body>

</html>